define host {
    host_name                     web-prod-02
    use                           linux-server
    address                       192.168.1.11
    alias                         Production Web Server 2
    hostgroups                    web-servers,production,linux-hosts
    parents                       core-switch-01
}

define host {
    host_name                     web-prod-03
    use                           linux-server
    address                       192.168.1.12
    alias                         Production Web Server 3
    hostgroups                    web-servers,production,linux-hosts
    parents                       core-switch-01
}

define host {
    host_name                     web-dev-01
    use                           linux-server
    address                       192.168.3.10
    alias                         Development Web Server
    hostgroups                    web-servers,development,linux-hosts
}

define host {
    host_name                     db-prod-master
    use                           critical-server
    address                       192.168.1.20
    alias                         Production Database Master
    hostgroups                    database-servers,production,linux-hosts
    parents                       core-switch-01
}

define host {
    host_name                     db-prod-slave-01
    use                           critical-server
    address                       192.168.1.21
    alias                         Production Database Slave 1
    hostgroups                    database-servers,production,linux-hosts
    parents                       core-switch-01
}

define host {
    host_name                     db-prod-slave-02
    use                           critical-server
    address                       192.168.1.22
    alias                         Production Database Slave 2
    hostgroups                    database-servers,production,linux-hosts
    parents                       core-switch-01
}

define host {
    host_name                     db-staging-01
    use                           linux-server
    address                       192.168.2.20
    alias                         Staging Database
    hostgroups                    database-servers,staging,linux-hosts
    parents                       core-switch-02
}

define host {
    host_name                     app-prod-02
    use                           linux-server
    address                       192.168.1.31
    alias                         Production App Server 2
    hostgroups                    app-servers,production,linux-hosts
    parents                       core-switch-01
}

define host {
    host_name                     app-prod-03
    use                           linux-server
    address                       192.168.1.32
    alias                         Production App Server 3
    hostgroups                    app-servers,production,linux-hosts
    parents                       core-switch-01
}

define host {
    host_name                     app-prod-04
    use                           linux-server
    address                       192.168.1.33
    alias                         Production App Server 4
    hostgroups                    app-servers,production,linux-hosts
    parents                       core-switch-01
}

define host {
    host_name                     api-prod-01
    use                           linux-server
    address                       192.168.1.40
    alias                         Production API Server 1
    hostgroups                    api-servers,production,linux-hosts
    parents                       core-switch-01
}

define host {
    host_name                     api-prod-02
    use                           linux-server
    address                       192.168.1.41
    alias                         Production API Server 2
    hostgroups                    api-servers,production,linux-hosts
    parents                       core-switch-01
}

define host {
    host_name                     redis-prod-01
    use                           linux-server
    address                       192.168.1.50
    alias                         Production Redis 1
    hostgroups                    cache-servers,production,linux-hosts,all-databases,app-servers
    parents                       core-switch-01
}

define host {
    host_name                     redis-prod-02
    use                           linux-server
    address                       192.168.1.51
    alias                         Production Redis 2
    hostgroups                    cache-servers,production,linux-hosts
    parents                       core-switch-01
}

define host {
    host_name                     memcached-prod-01
    use                           linux-server
    address                       192.168.1.52
    alias                         Production Memcached
    hostgroups                    cache-servers,production,linux-hosts
    parents                       core-switch-01
}

define host {
    host_name                     core-switch-02
    use                           network-device
    address                       192.168.2.1
    alias                         Core Switch - Secondary
    hostgroups                    network-devices,switches,staging
}

define host {
    host_name                     router-main
    use                           network-device
    address                       192.168.0.1
    alias                         Main Router
    hostgroups                    network-devices,routers,production
}

define host {
    host_name                     vpn-gateway
    use                           network-device
    address                       192.168.0.10
    alias                         VPN Gateway
    hostgroups                    network-devices,production,routers
    parents                       firewall-01
}

define host {
    host_name                     old-server-decommissioned
    use                           linux-server
    address                       192.168.99.99
    alias                         Old Decommissioned Server
    hostgroups                    routers
}

define host {
    host_name                     special-web-01
    use                           linux-server
    address                       192.168.1.100
    alias                         Special Web Server with Extra Groups
    hostgroups                    +web-servers,+critical-infrastructure
}

define host {
    host_name                     special-db-01
    use                           critical-server
    address                       192.168.1.101
    alias                         Special Database with Additive Groups
    hostgroups                    +database-servers, +all-databases
}

define host {
    host_name                     hybrid-server-01
    use                           linux-server
    address                       192.168.1.102
    alias                         Hybrid Server - Both App and Cache
    hostgroups                    + app-servers, +cache-servers, +production
}

define host {
    host_name                     test-additive-host
    use                           linux-server
    address                       192.168.1.103
    alias                         Test Host for Additive Hostgroup Syntax
    hostgroups                    +staging
}

define host {
    host_name                     web-staging-01
    use                           linux-server
    address                       192.168.2.10
    alias                         Staging Web Server
    hostgroups                    web-servers,staging,linux-hosts
    parents                       core-switch-02
}

define host {
    host_name                     firewall-02
    use                           network-device
    address                       192.168.0.2
    alias                         Primary Firewall
    hostgroups                    network-devices,firewalls,production,routers
    parents                       router-main
}

define hostdependency {
    host_name                     redis-prod-01
    dependency_period             24x7
    dependent_host_name           app-prod-01,app-prod-02,app-prod-03,app-prod-04
    notification_failure_criteria d,u
}

define hostdependency {
    host_name                      db-prod-master
    dependency_period              24x7
    dependent_host_name            db-prod-slave-01,db-prod-slave-02
    inherits_parent                1
    notification_failure_criteria  d,u
}

define host {
    host_name                     grafana-01
    address                       127.0.0.1
    alias                         grafana-01
}

define host {
    host_name                     web-prod-01
    use                           linux-server
    address                       192.168.1.10
    alias                         E2E Verified Alias
    hostgroups                    web-servers,production,linux-hosts
    parents                       core-switch-01
}

define host {
    host_name                     new-host31
    address                       test
    alias                         dpfojasdad

    hostgroups                    production
}

define host {
    host_name                     app-prod-01
    use                           linux-server
    address                       192.168.1.30
    alias                         Production App Server 1
    hostgroups                    app-servers,production,linux-hosts
    parents                       core-switch-01
}
